<launch>
    ### robot description
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find go1_description)/xacro/robot.xacro'
        with_3D_lidar:=False"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0"/>
    </node>

        
    ### rviz
    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find go1_phasespace_navigation)/rviz/2D_nav.rviz"/>
    
    ### low level inteface
    <node pkg="unitree_legged_real" type="robot_state" name="robot_state_sub" output="screen"/>
</launch>